In [1]:
import os
from dotenv import load_dotenv
load_dotenv()
import mysql.connector
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import gspread
import json
import hubspot
from datetime import datetime, timezone

# Access the environment variables.
mydb_pass = os.getenv('MYDB_PASS')
google_cred = os.getenv('GOOGLE_CRED')
gc = gspread.service_account_from_dict(json.loads(google_cred.replace('"', "'").replace("'", '"')))
hubspot_key = os.getenv('HUBSPOT_KEY')

In [2]:
client = hubspot.Client.create(access_token=hubspot_key)

company_list = []
has_more = True
after_value = 0

pull_properties = ["name", "send_to_cs", "record_type", "total_students", 'private_public', "closedate", "churn_date__cs", "number_of_open_deals", "total_open_deal_value", "notes_last_contacted", "segment_new", "client_type_size", "number_of_associated_contacts","potential_opportunity_size","exclude_logo"]

while has_more:
    api_response = client.crm.companies.basic_api.get_page(limit=100, after = after_value, properties=pull_properties, archived=False).to_dict()
    company_list.extend(api_response['results'])
    try:
        after_value = api_response['paging']['next']['after']
    except:
        has_more = False

print('Companies included: ' + str(len(company_list)))

company_ids = (pd.DataFrame(company_list)['id'])
company_list_df = pd.DataFrame(company_list)

Companies included: 13937

In [3]:
def pull_properties(hubspot_raw_df):
    # Extract all unique property keys from 'properties' dictionary
    property_keys = set().union(*hubspot_raw_df['properties'].apply(lambda x: x.keys()))

    # Create new columns for each property key
    for key in property_keys:
        hubspot_raw_df[key] = ''

    # Extract values for each property key and update the corresponding cell in the dataframe
    for i, row in hubspot_raw_df.iterrows():
        for key, value in row['properties'].items():
            if value is None:
                value = ''  # replace None values with empty strings
            hubspot_raw_df.at[i, key] = value

    # Drop 'properties' column and return the updated dataframe
    return hubspot_raw_df.drop('properties', axis=1)

In [4]:
def convert_iso_to_datetime(iso_date):
    # Check for None or NaN values
    if iso_date is None or (isinstance(iso_date, float) and np.isnan(iso_date)):
        return iso_date
    
    formats = ['%Y-%m-%dT%H:%M:%S.%fZ', '%Y-%m-%dT%H:%M:%S%z']
    
    for fmt in formats:
        try:
            # Try to parse the ISO date string to a datetime object
            dt = datetime.strptime(iso_date, fmt)
            
            # Set timezone to UTC if not set
            if dt.tzinfo is None:
                dt = dt.replace(tzinfo=timezone.utc)
            
            return dt.date()
        except ValueError:
            pass

In [5]:
hubspot_clients_only = pull_properties(company_list_df).query('send_to_cs == "true" and exclude_logo != "true"').reset_index(drop=True)

# drop blank and non-useful columns
hubspot_clients_only.dropna(axis=1, how='all', inplace=True)
hubspot_df = hubspot_clients_only.drop(['send_to_cs', 'exclude_logo', 'created_at', 'updated_at', 'archived', 'hs_lastmodifieddate', 'hs_object_id', 'createdate'], axis=1)

# rename columns
hubspot_df.rename({'id':'hubspot_id', 'name':'hubspot_name', 'closedate':'close_date', 'private_public':'school_type', 'segment_new':'segment', 'notes_last_contacted':'last_contacted', 'churn_date__cs':'churn_date'}, axis=1, inplace=True)

# convert date columns to datetime
hubspot_df['churn_date'] = pd.to_datetime(hubspot_df['churn_date'])
hubspot_df['close_date'] = hubspot_df['close_date'].apply(convert_iso_to_datetime)
hubspot_df['last_contacted'] = hubspot_df['last_contacted'].apply(convert_iso_to_datetime)

# update all null values
hubspot_df = hubspot_df.replace('', np.nan, regex=True)

In [6]:
hubspot_df

,hubspot_id,total_students,last_contacted,segment,close_date,record_type,churn_date,school_type,potential_opportunity_size,hubspot_name
0,4104270905,181,2022-08-25,Allied Health,2020-05-13,Lone Campus,NaT,Private for-profit,67500,California Healing Arts College - Carson
1,4104270938,2888,2023-10-24,Allied Health,2023-09-27,Corporate Office,NaT,Private for-profit,450000,San Joaquin Valley College - Corporate Office
2,4104270948,115,2022-10-06,Beauty + Wellness,2021-09-30,Corporate Office,2023-10-01,Private for-profit,22500,Lawrence & Company College of Cosmetology - Co...
3,4104275458,392,2022-05-17,Allied Health,2021-09-29,Lone Campus,2022-04-25,Not-for-profit,102500,Manhattan School of Computer Technology - Broo...
4,4104293899,246,2023-04-28,Allied Health,2022-05-26,Lone Campus,NaT,Private for-profit,67500,California Career Institute - Anaheim
...,...,...,...,...,...,...,...,...,...,...
564,17772710237,50,2023-10-23,Beauty + Wellness,2023-10-23,Lone Campus,NaT,NaN,22500,Shearz Institute
565,17821082436,NaN,None,Allied Health,None,Site,NaT,NaN,NaN,ABM College - Toronto
566,17821090344,NaN,None,Allied Health,None,Site,NaT,NaN,NaN,ABM College - Calgary
567,17900657076,NaN,None,NaN,None,Site,NaT,NaN,NaN,Mpower Education - Minnesota
568,17900665529,NaN,None,NaN,None,Site,NaT,NaN,NaN,Mpower Education - Utah

In [7]:
host="production.cqof4esbua2o.us-west-2.rds.amazonaws.com"
user="leadershipDashboard"
password=mydb_pass
database="ck_internal_data"
port=3306

In [8]:
from sqlalchemy import create_engine

def create_mysql_engine(user, password, host, port, database):
    connection_string = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}"
    engine = create_engine(connection_string)
    return engine

In [9]:
def dataframe_to_mysql(df, table_name, engine, if_exists="fail", index=False):
    """
    Load a DataFrame into a MySQL table.
    
    Parameters:
    - df (pandas.DataFrame): DataFrame to load.
    - table_name (str): Name of the table in the MySQL database.
    - engine (sqlalchemy.engine): SQLAlchemy engine instance.
    - if_exists (str): What to do if the table already exists. Options: "fail", "replace", "append". Default: "fail".
    - index (bool): Whether to write the DataFrame's index to the table. Default: False.
    """
    df.to_sql(table_name, engine, if_exists=if_exists, index=index)

In [10]:
# Write data to MySQL
engine = create_mysql_engine(user, password, host, 3306, database)
dataframe_to_mysql(hubspot_df, 'ft_hs_comp_won', engine, if_exists="replace")

In [13]:
mydb = mysql.connector.connect(
  host=host,
  user=user,
  password=password,
  database=database,
  port=port
)
mycursor = mydb.cursor()

In [18]:
query = """ALTER TABLE ft_sites
MODIFY corporate_id VARCHAR(255);"""
mycursor.execute(query)

In [19]:
query = """ALTER TABLE ft_sites
MODIFY hubspot_id VARCHAR(255);"""
mycursor.execute(query)

In [16]:
query = """ALTER TABLE ft_hs_comp_won
ADD PRIMARY KEY (hubspot_id);
"""
mycursor.execute(query)

In [1]:
query = """ALTER TABLE ft_logos
        ADD FOREIGN KEY (corporate_id) REFERENCES ft_sites(corporate_id);
"""
mycursor.execute(query)

In [2]:
query = '''ALTER TABLE ck_internal_data.ft_sites 
            ADD CONSTRAINT ft_sites_FK FOREIGN KEY (corporate_id) 
                REFERENCES ck_internal_data.ft_logos(corporate_id);
'''
mycursor.execute(query)

In [22]:
query = '''SHOW GRANTS FOR 'leadershipDashboard'@'%';'''
mycursor.execute(query)